In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('Final PF-12 and Injection.csv',index_col=0,parse_dates=True)

In [3]:
to_drop =["BORE_GAS_VOL",'AVG_DOWNHOLE_PRESSURE','AVG_DOWNHOLE_TEMPERATURE','NPD_WELL_BORE_CODE', 'NPD_WELL_BORE_NAME','Water Injection F-4', 'Injection Hours F-5','Injection Hours F-4','Water Injection F-5','BORE_OIL_VOL','BORE_WAT_VOL']
X = df.drop(to_drop,axis = 1)
Y = df['BORE_OIL_VOL']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size = 0.1,shuffle=False)

In [5]:
X_train.head()

,ON_STREAM_HRS,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,Total Water Injection
DATEPRD,,,,,,,,
2007-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2007-09-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2007-09-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2007-09-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2007-09-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [15]:
y_train_df = pd.DataFrame(y_train)
y_test_df = pd.DataFrame(y_test)

In [9]:
y_train_df.head()

            BORE_OIL_VOL
DATEPRD
2007-09-01           0.0
2007-09-02           0.0
2007-09-03           0.0
2007-09-04           0.0
2007-09-05           0.0

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled_values = scaler.fit_transform(X_train)

X_train_scaled = pd.DataFrame(data = X_train_scaled_values , index = X_train.index , columns = X_train.columns)


X_test_scaled_values = scaler.transform(X_test)

X_test_scaled = pd.DataFrame(data = X_test_scaled_values , index = X_test.index , columns = X_test.columns)

In [12]:
X_train_scaled.head()

,ON_STREAM_HRS,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,Total Water Injection
DATEPRD,,,,,,,,
2007-09-01,-2.339221,-1.165139,-2.068556,-1.856676,-1.824739,-2.790087,-0.878197,-1.860792
2007-09-02,-2.339221,-1.165139,-2.068556,-1.856676,-1.824739,-2.790087,-0.878197,-1.860792
2007-09-03,-2.339221,-1.165139,-2.068556,-1.856676,-1.824739,-2.790087,-0.878197,-1.860792
2007-09-04,-2.339221,-1.165139,-2.068556,-1.856676,-1.824739,-2.790087,-0.878197,-1.860792
2007-09-05,-2.339221,-1.165139,-2.068556,-1.856676,-1.824739,-2.790087,-0.878197,-1.860792

In [13]:
X_test_scaled.head()

,ON_STREAM_HRS,AVG_DP_TUBING,AVG_ANNULUS_PRESS,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,Total Water Injection
DATEPRD,,,,,,,,
2015-10-23,0.496078,-0.806825,0.553220,1.143250,-0.811060,0.207551,-0.848108,-0.107486
2015-10-24,0.496078,-0.802926,0.539477,1.141611,-0.800028,0.197097,-0.846951,-0.107285
2015-10-25,0.496078,-0.805494,0.539477,1.143250,-0.807294,0.210885,-0.851880,-0.116106
2015-10-26,0.496078,-0.805749,0.546152,1.143250,-0.808016,0.208675,-0.841979,-0.099668
2015-10-27,0.496078,-0.805736,0.558979,1.143250,-0.807978,0.239661,-0.846565,-0.093052

In [16]:
y_train_scaled_values = scaler.fit_transform(y_train_df)

y_train_scaled = pd.DataFrame(data = y_train_scaled_values , index = y_train_df.index , columns = y_train_df.columns)


y_test_scaled_values = scaler.transform(y_test_df)

y_test_scaled = pd.DataFrame(data = y_test_scaled_values , index = y_test_df.index , columns = y_test_df.columns)

In [18]:
y_train_scaled.head()

            BORE_OIL_VOL
DATEPRD
2007-09-01     -0.908955
2007-09-02     -0.908955
2007-09-03     -0.908955
2007-09-04     -0.908955
2007-09-05     -0.908955

In [19]:
y_test_scaled.head()

            BORE_OIL_VOL
DATEPRD
2015-10-23     -0.685713
2015-10-24     -0.688095
2015-10-25     -0.675593
2015-10-26     -0.704763
2015-10-27     -0.704763

In [20]:
type(X_train_scaled_values)

numpy.ndarray

In [21]:
type(X_train_scaled)

pandas.core.frame.DataFrame

#### JAIYESH__CHAHAR